{% block sidenav %}
  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a class="app-brand-link">
        <span class="app-brand-logo demo"><img src="{{ url_for('static', filename = 'assets/logo.png') }}" alt="" height="50" width="80" draggable="false" style=" pointer-events: none;" /></span>
        <span class="app-brand-text menu-text fw-bolder">Equipment <br />Performance <br />Tracking <br />System</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"><i class="bx bx-chevron-left bx-sm align-middle"></i></a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Dashboard</span>
      </li>
      <!-- Dashboard -->
      <li class="menu-item active open" draggable="false">
        <a href="{{ url_for('dashboard') }}" class="menu-link" draggable="false">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Layouts -->

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pages</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Controller Informations">Machine Informations</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ url_for('controller_info') }}" class="menu-link"><div data-i18n="controller-info">Controller Info</div></a>
          </li>
          <li class="menu-item">
            <a href="{{ url_for('machine_setup') }}" class="menu-link"><div data-i18n="Notifications">Machine Setup</div></a>
          </li>
          <li class="menu-item">
            <a href="{{ url_for('matrix_setup') }}" class="menu-link"><div data-i18n="Connections">Matrix Setup</div></a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">Dashboard</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ url_for('dashboard_status') }}" class="menu-link"><div data-i18n="Without menu">MACHINES STATUS DASHBOARD</div></a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-cube-alt"></i>
          <div data-i18n="Misc">Machine Data</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ url_for('data_gather') }}" class="menu-link"><div data-i18n="Error">Data Gather</div></a>
          </li>
          <li class="menu-item">
            <a href="{{ url_for('activity_logs') }}" class="menu-link"><div data-i18n="Actity Logs">Actity Logs</div></a>
          </li>
        </ul>
      </li>

      <!-- Extended components -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Extended UI</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="extended-ui-perfect-scrollbar.html" class="menu-link"><div data-i18n="Perfect Scrollbar">Perfect scrollbar</div></a>
          </li>
          <li class="menu-item">
            <a href="extended-ui-text-divider.html" class="menu-link"><div data-i18n="Text Divider">Text Divider</div></a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Roles & Permissions</span>
      </li>

      <li class="menu-item">
        <a href="icons-boxicons.html" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-terminal"></i>
          <div data-i18n="Boxicons">Permissions</div>
        </a>
      </li>
    </ul>
  </aside>
{% endblock %}
